body {
    background-color: black;
}

h1, h2, h3, p, dl, li{
    color: white;
}
h1{
    color: forestgreen;
}

h2{
    color: green;
}
p{
    color: white;
}
/* NAV BAR */
.nav {
    overflow: hidden;
    width: 100%;
    background-color: forestgreen;
    color: white;
    margin: auto;
}


.nav a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav a:hover {
    background-color: darkgreen;
}

.cleanpractdropdown {
    float: left;
    overflow: hidden;
}

.cleanpractdropdown .cleandropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.cleanpractdropdown:hover .cleandropbtn {
    background-color: darkgreen;
}

.cleandrop-content {
    display: none;
    position: absolute;
    background-color: darkseagreen;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.cleandropdown-content a {
    float: none;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.cleandrop-content a:hover {
    background-color: darkgreen;
}

.cleanpractdropdown:hover .cleandrop-content {
    display: flex;
    flex-flow: column nowrap;
}

/*End Nav */

/* index.html double colummn formating */
.container_for_text_and_picture{
    width: 100%;
}

.rounded-img{
    border-radius: 100%;
}

.img-floating-to-right{ 
    float: right;
}

.img-floating-to-left{
    float: left;
}

.clear-floating{
    clear: both;
}

/* End index.html double colummn formating */

/*Fossil Fuels*/
summary{
    color: green;
}
th{
    color: darkgreen;
}
td{
    color: darkseagreen;
}
