.nav {
    background-color: #44974d;
    color: white;
}


nav.nav {
    width: 100%;
    padding: 5px;
    display: flex;
    flex-flow: row wrap;
}

a.nav {
    color: white;
    margin: auto;
}

.dropdown {
    /*display: inline-block;*/
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: green;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}