.nav {
    background-color: #44974d;
    color: white;
}


nav.nav {
    width: 100%;
    padding: 5px;
    display: flex;
    flex-flow: row wrap;
}

a.nav {
    color: white;
    margin: auto;
}

.dropdown {
    display: inline-block;
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
    padding: 5px;
}

.dropdown:hover .dropdown-content:hover {
    display: block;
}